body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}

#title{
  background: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  color:#00B7FF;
}

a{
  text-decoration: none;

}
#title:hover{
background:#99f973;
}


#frame{
  display:none;
}

#input{
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: black;
  color: #00B7FF;
  border: 2px solid #36fd08;
}

#button{
  width: 75px;
  height: 26px;
  border: 2px solid #36fd08;
  color: #36fd08;
  background: transparent
}

h1{
  color:#36fd08;

}

#results{
width:48%;
margin-top: 2em;
}
